@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
.input-border{
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 1580px) {
  #timer{
    left: 5vw;
  }
}